  <h1>Editer un point</h1>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
<div class="form-group">
      <%= label_tag 'Title :' %>
      <%= text_field_tag 'title'%>
      <br /> <br />
      <%= label_tag 'Content :' %>
      <%= text_field_tag 'content'%>
      <br /> <br />

      <%= submit_tag "Valider", class:"btn btn-primary"%>
</div>
<% end %>