<h1>LES POTINS</h1>
<div class="card text-center">
	<div class="card-body">
  	<h3 class="display-4"><%=@gossip.each_with_index do |gossip, index|%><%=gossip.title%></h3>
  	
  		<p class="lead"><%=gossip.user.first_name%> </p><br>
  		<a class="btn btn-primary btn-lg" href="/gossips/show/<%=index+1%>" role="button">show</a><br>
 		<%end%>
 	</div>
</div>
<a href= "<%= new_gossip_path %>"class="btn btn-success">Créer un potin</a>



