<h1>LES POTINS</h1>
<div class="card">
	<div class="card text-center">
    <h3 class="display-4"><%=@gossips.each_with_index do |gossip, index|%><%=gossip.title%></h3>  
		<div class="card-body">
  			
  			<p class="lead"><%=gossip.user.first_name%></p>
  			<a class="btn btn-primary btn-lg" href="<%= gossip_path(gossip.id)%>" role="button">Afficher</a><br><br>
			<%end%><br>
 		</div>
	</div>
</div>
<a href= "<%= new_gossip_path%>"class="btn btn-success">Créer un potin</a><br>
